body {
    font-family: Arial, sans-serif;
    background: #1a1a1a;
    color: #9a9999;
    width: 100vw;
    height: 200vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 60vh;
    background: url('../images/object.png') no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; 
}


ul {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    list-style: none;  
    gap: 20px;         
    padding: 10px;     
    margin: 0;         
}


ul li a {
    text-decoration: none;
    color: white;      
    font-size: 16px;   
    padding: 10px;
}

ul li {
    margin: 0;
    padding: 0;
}

}


div {
    position: relative;
    text-align: center;  
}


h1 {
    font-size: 48px;          
    color: white;             
    width: 684px;
    height: 151px;
    position: absolute;       
    top: 60px;                
    left: 50%;
    transform: translateX(-50%); 
}

div .buttons {
    position: absolute;
    top: 160px;               
    left: 50%;
    transform: translateX(-50%); 
    display: flex;            
    gap: 30px;                
}


div .buttons span {
    font-size: 24px;          
    color: white;             
}


button {
    background-color: #C271FF;  
    color: white;               
    font-size: 18px;            
    width: 162px;
    height: 44px;
    border: none;               
    border-radius: 5px;         
    margin-top: 20px;           
    cursor: pointer;            
}

button:hover {
    background-color: #a954e6;  
}


footer {
    margin-top: auto;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        margin-top: 10px;
    }

    main h1 {
        font-size: 36px;
    }

    .sub-text {
        flex-direction: column;
    }
}
